// body {
// 	min-height: 100vh;
// 	position: relative;
// 	margin: 0;
// }

.main-footer {
	// position: absolute;
	position: sticky;
	bottom: 0;
	width: 100%;
	z-index: 99;
	background-color: var(--main-bg-color) !important;
	box-shadow: 0rem 0rem 1rem var(--main-font-color);
}

.base-page {
	width: 100%;
	min-height: 100%;
	// margin-top: 2.5em;
}

.home-page {
	.movie-genre {
		font-size: 1.7rem;
		// font-style: italic;
		font-weight: bold;
		margin-bottom: 0.25em;
	}

	.card-title {
		margin-bottom: 0px;
	}
}

.main-navbar {
	position: sticky;
	z-index: 99;
	min-height: 5rem;
	background-color: var(--main-bg-color) !important;
	box-shadow: 0rem 0rem 1rem var(--main-font-color);

	> li > a {
		font-size: 1.9rem;
	}
}

.navbar-brand {
	font-size: 3rem;
	font-weight: bold;
}

#__next {
	min-width: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
}

.main-font-size {
	font-size: var(--normal-size-text-1);
	font-size: inherit;
}

:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}
::selection {
	color: var(--main-bg-color);
	background: var(--main-font-color);
}

::-webkit-scrollbar {
	/* width: calc(1.5rem + 0.2vw); */
	position: relative;
	width: initial;
	z-index: 199;
}
::-webkit-scrollbar-track {
	background: var(--main-font-color);
}
::-webkit-scrollbar-thumb {
	background: var(--main-bg-color);
	border-radius: 1rem;
}
::-webkit-scrollbar-button {
	background: var(--main-bg-color);
}

//
::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		45deg,
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color)
	);
	border-radius: 1rem;
}

::-webkit-scrollbar-button {
	background: var(--main-bg-color);
	background-image: linear-gradient(
		-45deg,
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color),
		var(--main-bg-color),
		var(--main-font-color)
	);
}

/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--incerment-1: 0.5vw;
	--header1: calc(4rem + var(--incerment-1));
	--header2: calc(3.2rem + var(--incerment-1));
	--header3: calc(2.6rem + var(--incerment-1));
	--header4: calc(2.4rem + var(--incerment-1));
	--header5: calc(2rem + var(--incerment-1));
	--header6: calc(1.6rem + var(--incerment-1));
	--small-size-text-1: calc(0.7rem + var(--incerment-1));
	--small-size-text-2: calc(1rem + var(--incerment-1));
	--small-size-text-3: calc(1.3rem + var(--incerment-1));
	--normal-size-text-1: calc(1.6rem + var(--incerment-1));
	--normal-size-text-2: calc(1.9rem + var(--incerment-1));
	--normal-size-text-3: calc(2.2rem + var(--incerment-1));
	--big-size-text-1: calc(9rem + var(--incerment-1));
	--big-size-text-2: calc(11rem + var(--incerment-1));
	--big-size-text-3: calc(13rem + var(--incerment-1));
}

:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-size: var(--normal-size-text-1);
}

.theme-light-1 {
	--main-special-color-1: var(--theme-light-1-special-color-1);
	--main-special-color-2: var(--theme-light-1-special-color-2);
	--main-bg-color: var(--theme-light-1-bg-color-1);
	--main-font-color: var(--theme-light-1-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-light-1-bg-color-1);
		--main-font-color: var(--theme-light-1-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-light-1-font-color-1);
		--main-font-color: var(--theme-light-1-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}
.theme-light-2 {
	--main-special-color-1: var(--theme-light-2-special-color-1);
	--main-special-color-2: var(--theme-light-2-special-color-2);
	--main-bg-color: var(--theme-light-2-bg-color-1);
	--main-font-color: var(--theme-light-2-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-light-2-bg-color-1);
		--main-font-color: var(--theme-light-2-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-light-2-font-color-1);
		--main-font-color: var(--theme-light-2-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}
.theme-light-3 {
	--main-special-color-1: var(--theme-light-3-special-color-1);
	--main-special-color-2: var(--theme-light-3-special-color-2);
	--main-bg-color: var(--theme-light-3-bg-color-1);
	--main-font-color: var(--theme-light-3-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-light-3-bg-color-1);
		--main-font-color: var(--theme-light-3-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-light-3-font-color-1);
		--main-font-color: var(--theme-light-3-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}

.theme-dark-1 {
	--main-special-color-1: var(--theme-dark-1-special-color-1);
	--main-special-color-2: var(--theme-dark-1-special-color-2);
	--main-bg-color: var(--theme-dark-1-bg-color-1);
	--main-font-color: var(--theme-dark-1-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-dark-1-bg-color-1);
		--main-font-color: var(--theme-dark-1-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-dark-1-font-color-1);
		--main-font-color: var(--theme-dark-1-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}
.theme-dark-2 {
	--main-special-color-1: var(--theme-dark-2-special-color-1);
	--main-special-color-2: var(--theme-dark-2-special-color-2);
	--main-bg-color: var(--theme-dark-2-bg-color-1);
	--main-font-color: var(--theme-dark-2-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-dark-2-bg-color-1);
		--main-font-color: var(--theme-dark-2-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-dark-2-font-color-1);
		--main-font-color: var(--theme-dark-2-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}
.theme-dark-3 {
	--main-special-color-1: var(--theme-dark-3-special-color-1);
	--main-special-color-2: var(--theme-dark-3-special-color-2);
	--main-bg-color: var(--theme-dark-3-bg-color-1);
	--main-font-color: var(--theme-dark-3-font-color-1);
	color: var(--main-font-color);
	background: var(--main-bg-color);

	.current-theme {
		--main-bg-color: var(--theme-dark-3-bg-color-1);
		--main-font-color: var(--theme-dark-3-font-color-1);
		color: var(--main-font-color);
		background: var(--main-bg-color);
	}

	.reverse-theme {
		--main-bg-color: var(--theme-dark-3-font-color-1);
		--main-font-color: var(--theme-dark-3-bg-color-1);

		color: var(--main-font-color);
		background: var(--main-bg-color);
	}
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
	overflow-x: hidden;
	max-width: 200rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	animation: opening 3s ease-in-out;
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	* {
		font-size: inherit;
	}
}

span {
	font-size: inherit;
}

ul {
	list-style: none;
}

a {
	// color: var(--main-font-color);
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: inherit;
	}
}

ul,
ol,
dl,
li {
	text-decoration: none;
	list-style: none;
}

button,
a {
	cursor: pointer;
}
/*----------------------------*/
/* Global Animation */
/*----------------------------*/
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*----------------------------*/
/* Your Global Syles */
/*----------------------------*/

/*----------------------------*/
/* Your Global Animation */
/*----------------------------*/
